/transversales/Sesion/Proyecto/servicios.transversal.sesion/.settings
/transversales/Sesion/Proyecto/servicios.transversal.sesion/target

/transversales/Proyecto/SrvIntTransversales/.settings
/transversales/Proyecto/SrvIntTransversales/target
/transversales/Proyecto/SrvIntTransversales/.classpath

/integracion/URT/Consulta_Personas_Inscritas/Proyecto/SrvIntConsultaPersonasSolicitud/.settings
/integracion/URT/Consulta_Personas_Inscritas/Proyecto/SrvIntConsultaPersonasSolicitud/target

/integracion/URT/Copia_Formulario_Solicitud/Proyecto/SrvIntCopiaFormularioSolicitud/.settings
/integracion/URT/Copia_Formulario_Solicitud/Proyecto/SrvIntCopiaFormularioSolicitud/target

/integracion/URT/Consulta_IPT_ITG/Proyecto/SrvIntConsultaITPITG/.settings
/integracion/URT/Consulta_IPT_ITG/Proyecto/SrvIntConsultaITPITG/target

/integracion/CSJ/Consulta_Sentencias/Proyecto/SrvIntConsultaSentencias/.settings
/integracion/CSJ/Consulta_Sentencias/Proyecto/SrvIntConsultaSentencias/target

/integracion/IGAC/Consulta_Rinex/Proyecto/SrvIntRinex/.settings
/integracion/IGAC/Consulta_Rinex/Proyecto/SrvIntRinex/target

/integracion/DAICMA/Consultar_Operaciones/Proyecto/SrvIntWcfDAICMAOperaciones/target
/integracion/DAICMA/Consultar_Operaciones/Proyecto/SrvIntWcfDAICMAOperaciones/.settings

/integracion/DAICMA/Consultar_Operaciones/Proyecto/SrvIntWcfDAICMAEventos/target
/integracion/DAICMA/Consultar_Operaciones/Proyecto/SrvIntWcfDAICMAEventos/.settings

/integracion/URT/Predios_Inscritos/Proyecto/SrvIntPrediosInscritos/target
/integracion/URT/Predios_Inscritos/Proyecto/SrvIntPrediosInscritos/.settings

/integracion/URT/Consumidor_de_Alertas/Proyecto/SrvIntConsumirAlertas/target
/integracion/URT/Consumidor_de_Alertas/Proyecto/SrvIntConsumirAlertas/.settings

/integracion/URT/Personas_Inscritas/Proyecto/SrvIntConsultaPersonasInscritas/target
/integracion/URT/Personas_Inscritas/Proyecto/SrvIntConsultaPersonasInscritas/.settings

/integracion/IGAC/Historico_Catastral/Proyecto/SrvIntHistoricoCatastral/target
/integracion/IGAC/Historico_Catastral/Proyecto/SrvIntHistoricoCatastral/.settings

/integracion/IGAC/Informacion_Catastral/Proyecto/SrvIntInformacionCatastral/target
/integracion/IGAC/Informacion_Catastral/Proyecto/SrvIntInformacionCatastral/.settings

/integracion/IGAC/Certificado_Catastral/Proyecto/SrvIntCertificadoCatastral/target
/integracion/IGAC/Certificado_Catastral/Proyecto/SrvIntCertificadoCatastral/.settings

/integracion/ANT/Baldios/Proyecto/nodo.srvIntConsultaBaldios/target
/integracion/ANT/Baldios/Proyecto/nodo.srvIntConsultaBaldios/.settings

/integracion/ANT/SIDRA/Proyecto/nodo.srvIntConsultaSIDRA/target
/integracion/ANT/SIDRA/Proyecto/nodo.srvIntConsultaSIDRA/.settings

/librerias/Transversales/libTransaccion/target
/librerias/Transversales/libTransaccion/.settings

/integracion/MADR/Consulta_SIPOV/Proyecto/SrvIntConsultaSIPOV/target
/integracion/MADR/Consulta_SIPOV/Proyecto/SrvIntConsultaSIPOV/.settings

/integracion/CSJ/Radicar_Demanda/Proyecto/SrvIntRadicarDemanda/target
/integracion/CSJ/Radicar_Demanda/Proyecto/SrvIntRadicarDemanda/.settings

/librerias/Transversales/libTransaccion/.classpath
/librerias/Transversales/libTransaccion/.settings/

/integracion/UARIV/Consulta Registro/Proyecto/srvIntConsultaRUV/.classpath
/integracion/UARIV/Consulta Registro/Proyecto/srvIntConsultaRUV/.settings/

/integracion/CATASTRO_ANTIOQUIA/Informacion_Predial/Proyecto/SrvIntInformacionPredial/.classpath
/integracion/CATASTRO_ANTIOQUIA/Informacion_Predial/Proyecto/SrvIntInformacionPredial/.settings/


/integracion/URT/Consulta_Zonas_Microfocalizadas/Proyecto/SrvIntConsultaZonasMicrofocaizadas/.classpath
/integracion/URT/Consulta_Zonas_Microfocalizadas/Proyecto/SrvIntConsultaZonasMicrofocaizadas/.settings/

/integracion/URT/ConsultaDeSentencias/Proyecto/srvIntConsultaDeSentenciasURT/.classpath
/integracion/URT/ConsultaDeSentencias/Proyecto/srvIntConsultaDeSentenciasURT/.settings/

/integracion/CATASTRO_ANTIOQUIA/Certificado_Poseer_No_Poseer/Proyecto/SrvIntCertificadoPoseerNoPoseer/SrvIntCertificadoPoseerNoPoseer/.classpath
/integracion/CATASTRO_ANTIOQUIA/Certificado_Poseer_No_Poseer/Proyecto/SrvIntCertificadoPoseerNoPoseer/SrvIntCertificadoPoseerNoPoseer/.settings/

/integracion/UARIV/Pagos_Ayuda_Humanitaria/Proyecto/SrvIntPagosAyudaHumanitaria/target/

/integracion/IGAC/Informacion_Geografica_Predial/Proyecto/srvIntInformacionGeograficaPredial/target/
/integracion/IGAC/Informacion_Geografica_Predial/Proyecto/srvIntInformacionGeograficaPredial/.classpath
/integracion/IGAC/Informacion_Geografica_Predial/Proyecto/srvIntInformacionGeograficaPredial/target/.settings/
